body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    color: lightcoral;
}
.s1,.s2,.s3 {
    text-align: left;
    color: black;

}

img{
    width: 80px;
    height: 80px;
}
#right{
    text-align: right;
    
   
}
#right{
    text-align: right;
}

h3 {
    background-color: white;
    text-align: center;

}
img{
    width: 50;
    height: 50;
}
.name1, .name2{
    text-align: right;
}